body {
  background-color: #000000;
  margin: 0;
  font-family: arial;
  text-align: center;
}

h2 {
  color: white;
}

h3 {
  color: white;
}

.video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/**
/ Use this class for screen-reader specific elements. Warning:
/ If it's an input or link or something, it will still be tabbable!
**/
.sr-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.title_container {
  text-align: center;
  color: white;
}

.logoholder {
  position:absolute;
  background-color:#000000;
  width:400px;
  height:100%;
  max-height:100%;
}
/**
.logoholder::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000000;
  clip-path: polygon(45% 0, 50% 100%, 70% 0);
}
**/

.brand-logo {
  transition: 0.4s filter ease-out;
}
.brand-logo:hover {
  filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.199));
}

.row img {
  width: auto;
  height: 300px;
}

.footer {
  margin-top: 30px;
  text-align: center;
}

.footer img {
  width: 80px;
  margin: 10px;
}

.project {
  display: inline-flex;
  margin: 150px;
  margin-bottom: 0;
  text-align: left;
  width: 60%;
  border: solid orange;
  padding: 30px;
}

.name {
  color: orange;
  font-size: 22pt;
  text-transform: uppercase;
}

.calendar {
  margin-top: 25px;
  margin-left: 75px;
  margin-right: 75px;
}

.card {
  width: 32%;
  display:inline-block;
  vertical-align: top;
  margin-left: 40px;
  margin-right: 40px;
}

.card:hover {
  box-shadow: 0 0 10px 10px rgb(255, 255, 255);
}

@media (max-width: 1000px) {
  .calendar {
    margin-left: 25px;
    margin-right: 25px;
  }

  .card {
    width: 100%;
  }
}