@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

body {
    background-color: black;
    color: #000000;
}

a {
    color:rgb(205, 39, 47) !important;
}

p {
    font-family: 'Merriweather', serif;
}

.main {
    max-width: 450px;
    max-height:800px;
    margin:none;
    background-color: rgb(243, 172, 91);
    overflow-y:auto;
}

.top {
    color:#000000;
    position: fixed;
    bottom: 20px;
    right: 5px;
}

h4 {
    font-weight: 700 !important;
    font-family: 'Merriweather', serif;
}
h5 {
    font-weight: 700 !important;
    text-align: center;
    font-family: 'Merriweather', serif;
}

ul > li {
    font-weight: 600;
}
.sub {
    font-size: 12px;
    margin-left: 10px;
}

ul.leaders {
    max-width: 40em;
    padding: 0;
    overflow-x: hidden;
    list-style: none;
}
ul.leaders li:before {
    float: left;
    width: 0;
    white-space: nowrap;
    content:
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
}
ul.leaders span:first-child {
    padding-right: 0.33em;
    background: rgb(243, 172, 91);
}
ul.leaders span + span {
    float: right;
    padding-left: 0.33em;
    background: rgb(243, 172, 91);
}

.pinned {
    position: fixed !important;
    right: 0px !important;
    background:linear-gradient(to right, rgba(255,0,0,0), rgb(205, 39, 47));
  }

.table-of-contents {
    text-align: right;
    padding-left:0 !important;
    top: -14px !important;
    height:100%;
}

.table-of-contents > .header {
    font-size: 18px;
    font-weight: 800;
}

.table-of-contents a {
    color: #000000 !important;
    padding-right:4px;
    font-family: 'Merriweather', serif;
    font-size: 12px;
    font-weight: 550 !important;
}

.table-of-contents a.active {
    border-left: none !important;
    border-right: 3px solid #000000;
}

.table-of-contents a:hover {
    border-left: none !important;
    border-right: 3px solid #000000;
}